.ask {
  margin-top: 93px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $tablet-width) {
    margin-top: 41px;
    padding: 0 45px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 31px;
    padding: 0 15px;
  }
}

.ask__head {
  font-family: "CormorantGaramond", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: $black;
  margin-bottom: 47px;

  @media (max-width: $mobile-width) {
    text-align: center;
    margin-bottom: 28px;
  }
}

.ask__btn {
  background-color: transparent;
  border: 1px solid $brown;
  padding: 43px 42px;
  max-width: 970px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  text-align: start;
  color: $black;
  position: relative;
  border-bottom: none;
  cursor: pointer;

  &:hover {
    color: $brown;

    & span {
      color: $black;
    }
  }

  &:active {
    color: rgba($brown, 0.7);
  }

  &:last-child {
    border-bottom: 1px solid $brown;
  }

  &::after {
    content: "";
    position: absolute;
    right: 50px;
    top: 52px;
    width: 15px;
    height: 9px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/icon/arrow-btn.svg");
  }

  & span {
    display: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    max-width: 526px;
    margin-top: 8px;
    margin-left: 7px;
  }

  &--active {
    & span {
      display: block;
    }

    &::after {
      transform: rotate(180deg);
      transition: 0.5s;
    }
  }

  @media (max-width: $tablet-width) {
    max-width: 100%;
    padding: 44px 49px;

    & span {
      margin-top: 27px;
      max-width: 530px;
      margin-left: 0;
    }

    &::after {
      width: 23px;
      height: 12px;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 17px 24px;
    padding-bottom: 22px;
    padding-right: 53px;
    font-size: 16px;

    & span {
      margin-top: 18px;
      max-width: 206px;
      margin-left: 0;
      font-size: 14px;
      line-height: 143%;
    }

    &::after {
      width: 23px;
      height: 12px;
      right: 22px;
      top: 24px;
    }
  }
}
