.cart {
  max-width: 1209px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    max-width: auto;
  }
}

.cart__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1110px;
  margin-top: 70px;
  padding: 0 20px;

  @media (max-width: $tablet-width) {
    max-width: 100%;
    padding: 0 45px;
    margin-top: 37px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 15px;
    margin-top: 17px;
  }
}

.cart__image {
  width: 600px;
  height: 435px;
  margin-top: 9px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    width: 319px;
    height: 429px;
    flex-direction: column;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: 100%;
  }
}

.cart__info {
  width: 370px;
  min-height: 435px;

  @media (max-width: $tablet-width) {
    width: 47%;
    min-height: 429px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 429px;
    margin-top: 35px;
  }
}

.cart__head {
  font-family: "CormorantGaramond", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  color: $black;
  margin: 0;
}

.cart__price {
  font-weight: normal;
  font-size: 26px;
  line-height: 130%;
  color: $black;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 40px;

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}

.cart__toggle {
  display: flex;
  width: 244px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 31px;
}

.cart__btn-info {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $placeholder;

  &:hover,
  &:focus {
    color: $black;
  }

  &:active {
    color: rgba($black, 0.7);
  }

  &--active {
    color: $black;
  }
}

.cart__items {
  margin-bottom: 50px;

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;
  }
}

.cart__item {
  display: none;

  &--active {
    display: block;
  }
}

.cart__item-additional {
  list-style: none;
  margin: 0;
  padding: 0;

  & li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid $border;
    padding-bottom: 10px;
    margin-bottom: 11px;
  }

  & p {
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: $black;
    margin: 0;

    &:first-of-type {
      font-weight: 500;
    }
  }
}

.cart__add-cart {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: $white;
  display: block;
  background-color: $brown;
  width: 100%;
  padding: 23px 0;
  min-height: 68px;

  &:hover,
  &:focus {
    background-color: rgba($brown, 0.9);
  }

  &:active {
    background-color: rgba($brown, 0.6);
  }
}

.cart__warranty {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3px;

  & p {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: $placeholder;
  }

  @media (max-width: $tablet-width) {
    & p {
      font-size: 12px;
    }
  }

  @media (max-width: $mobile-width) {
    margin-top: 1px;

    & p {
      width: 70px;
      text-align: center;
    }
  }
}

.cart__top {
  margin: 0;
  width: 470px;


  & .cart__slide {
    width: 100%;
    height: 435px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: $tablet-width) {
    width: 319px;

    & .cart__slide {
      width: 319px;
      height: 286px;
    }
  }

  @media (max-width: $mobile-width) {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin: 0 auto;

    & .cart__slide {
      max-width: 100%;
      height: 260px;
      max-height: max-content;
    }
  }
}

.cart__thumbs {
  margin: 0;
  width: max-content;
  height: 435px;

  & .cart__thumbs-wrapper {
    height: 435px;
    width: 100px;
  }


  & .cart__slide {
    width: 100px;
    height: 125px;
    cursor: pointer;

    &:hover,
    &:focus {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($black, 0.2);
      }
    }


    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: $tablet-width) {
    height: 129px;

    & .cart__thumbs-wrapper {
      height: 129px;
      width: 319px;
    }

    & .cart__slide {
      width: 97px;
      height: 129px;
    }
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}
