.header {
  border-bottom: 1px solid $border;
  flex: 0 0 auto;
  @media (max-width: $tablet-width) {
    border: none;
  }
}

.header__wrapper {
  display: grid;
  grid-template-columns: 1fr 66px 1fr;
  max-width: 1230px;
  min-height: 66px;
  padding: 30px 15px;
  padding-bottom: 14px;

  &--active {
    background-color: $brown;

    & > .header__btn-nav::after {
      background-color: $white;
      box-shadow: 0 8px 0 0 $white, 0 -8px 0 0 $white;
    }
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: $mobile-width) {
    padding: 20px 0 0 0;
  }
}

.header__container {
  width: 235px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  justify-self: flex-end;

  @media (max-width: $tablet-width) {
    width: 100%;
    align-items: center;
  }
}

.header__login,
.header__cart {
  padding: 13px 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $black;
  display: block;
  height: min-content;

  @media (max-width: $mobile-width) {
    padding: 13px;
  }
}

.header__login {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__cart-text {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__cart {
  @media (max-width: $tablet-width) {
    margin-right: 26px;
    margin-top: -1px;
  }

  @media (max-width: $tablet-width) {
    margin-right: 1px;
    margin-top: -1px;
  }
}

.header__cart-num {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__search {
  margin-top: 4px;
  position: relative;
  padding-left: 15px;

  &::after {
    content: "";
    position: absolute;
    top: 11px;
    width: 14px;
    height: 14px;
    background-image: url("../img/icon/search.svg");
    background-repeat: no-repeat;
    display: block;
  }

  & input {
    margin-left: 27px;
    border: none;
    width: 192px;
    height: 35px;

    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: $placeholder;
    }
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__logo {
  grid-column: 2/3;
  grid-row: 1/2;

  @media (max-width: $mobile-width) {
    & svg {
      width: 52px;
      height: 52px;
      margin: 0 auto;
    }
  }
}

.header__cart-svg {
  display: none;
  fill: transparent;

  @media (max-width: $tablet-width) {
    display: block;
    margin-right: 25px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}

.header__btn-nav {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    width: 50px;
    margin: 8px 32px;
    border: none;
    background-color: transparent;
    height: 50px;
      &::after {
        content: "";
        // padding: 32px 45px;
        display: block;
        margin: 0 auto;
        width: 25px;
        height: 2px;
        background-color: $black;
        box-shadow: 0 8px 0 0 $black, 0 -8px 0 0 $black;
      }
  }

  @media (max-width: $mobile-width) {
    margin: 1px 2px;
  }
}

.header__nav {
  display: none;
  grid-column: 1/-1;
  background-color: $brown;
  padding-bottom: 20px;

  &--active {
    display: block;
  }
}

.header__logo-svg,
.header__cart-svg {
  @media (max-width: $tablet-width) {
    display: block;

    &--disable {
      display: none;
    }
  }
}

.header__logo-svg-white,
.header__cart-svg-white {
  display: none;

  &--active {
    display: block;
    fill: transparent;
  }
}

.header__nav-search {
  position: relative;
  margin-top: 40px;
  padding: 0 45px;

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 57px;
    width: 16px;
    height: 16px;
    background-image: url("../img/icon/search-white.svg");
    background-repeat: no-repeat;
  }
}

.header__nav-search input {
  width: 100%;
  border: none;
  border-radius: 21px;
  background-color: rgba($white, 0.15);
  height: 40px;
  padding-left: 40px;
}

.header__nav-items {
  display: flex;
  flex-direction: column;
  margin: 36px 45px;
  margin-bottom: 18px;
}

.header__nav-item {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: $white;
  padding: 10px 0;
}

.header__nav-info {
  display: flex;
  flex-direction: column;
  margin: 24px 45px;
  margin-bottom: 36px;

  & a {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: rgba($white, 0.75);
    padding: 10px 0;
  }
}

.header__nav-login {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: $white;
  margin: 45px;
}
