.main {
  flex: 1 0 auto;
}

.main__container {
  display: flex;
  margin: 0 auto;
  margin-top: 79px;
  max-width: 1220px;
  padding: 0 25px;
  justify-content: space-between;

  @media (max-width: $tablet-blog) {
    flex-direction: column;
    align-items: center;
    padding: 0 45px;
    margin-top: 50px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
    margin-top: 40px;
  }
}

.main__btn-filter {
  display: none;

  &:hover,
  &:focus {
    background-color: rgba($brown, 0.9);
  }

  &:active {
    background-color: rgba($brown, 0.7);
  }

  @media (max-width: $tablet-blog) {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $white;
    background-color: $brown;
    width: 100%;
    min-height: 68px;
    border: none;
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;
  }
}

.main__close-filter {
  display: none;

  @media (max-width: $tablet-blog) {
    position: fixed;
    top: 5px;
    left: 426px;
    z-index: 3;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: $black;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 18px;
      height: 2px;
      background-color: $white;
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      width: 18px;
      height: 2px;
      background-color: $white;
      display: block;
    }

    &--active {
      display: block;
    }
  }

  @media (max-width: $tablet-width) {
    left: 255px;
  }

  @media (max-width: $mobile-width) {
    left: 248px;
    top: 4px;
  }
}
