.nav {
  width: 541px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.nav__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 12px;
}

.nav__item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  padding: 19px 17px;
}
