.perfection-catalog {
  background-image: url("../img/intro-catalog-desktop.jpg");
  min-height: 261px;

  & h1 {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
  }

  & p {
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    margin: 0;
  }

  @media (max-width: $tablet-width) {
    & p {
      font-size: 22px;
      line-height: 120%;
      text-align: center;
      padding: 0 23px;
    }
  }

  @media (max-resolution: 2dppx) {
    background-image: url("../img/intro-catalog-desktop@2x.jpg");
  }
}
