$black: #1d1613;
$clear-black: #000000;
$placeholder: #9b9997;
$border: #f6f5f4;
$brown: #a87b62;
$semi-brown: #564034;
$white: #ffffff;
$light-gray: #f0eae4;
$shadow: #dbd5d0;
$shadow2: #797979;
$shadow3: #e2ddd7;

// Основные брекпоинты
$tablet-width: 1023px;
$mobile-width: 767px;
$min-width: 320px;

// Блог и инст

$tablet-blog: 1200px;
