$black: #1D1613;
$clear-black: #000000;
$placeholder: #9B9997;
$border: #F6F5F4;
$brown: #A87B62;
$semi-brown: #564034;
$white: #ffffff;

// Основные брекпоинты
$tablet-width: 1023px;
$mobile-width: 767px;
$min-width: 320px;

// Свайпер

$tablet-swiper: 1200px;
$mobile-swiper: 767px;
